@import 'tailwindcss';
@import 'bootstrap';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


/* __ Header __ */

header {


    img#logo {
        width: 60px;
        height: 60px;
    }

    nav {
        background-color: #fff;
        color: black;
        font-weight: 600;

        ul {
            li {

                .current {
                    color: #0c7cec;
                    padding-bottom: 2rem;
                    border-bottom: 10px solid #0c7cec;
                }

                a {
                    text-decoration: none;
                }
            }
        }
    }

    div.hero {
        background-image: url('../img/jumbotron.jpg');
        background-size: cover;
        height: 300px;
    }
}

/* __ Footer __ */

div.footer_container {
    background-color: #303030;
    color: #fff;
    display: flex;
    flex-direction: column;
}

section.top_footer {    
    background-color: #0282f9;
    padding: 3rem 0;

    .buy_nav_item {
        display: flex;
        align-items: center;

        img {
            max-height: 50px;
            max-width: 50px;
            margin-right: 1rem;
        }
    }
}

section.main_footer {
    color: #9f9f9f;
    height: 100px;
}

section.bottom_footer {
    height: 100px;
}